.footer {
  background: "#222222";
  color: #eebbc3;
  text-align: center;
  padding: 1.5rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
}
